{% extends "app_1/plantilla_base.html" %}
{% load static %}
{% block contenido_base %}

<h3>Equipos fitrados:</h3>
{% if equipos %}
<table class="coder-table">
    <tbody>
      <tr>
        <th>
          <strong>Nombre</strong>
        </th>
        <th>
          <strong>Categoria</strong>
        </th>
        <th>
            <strong>Liga</strong>
        </th>
      </tr>
      {% for equipo in equipos %}
      <tr>
        <td>{{equipo.nombre}}</td>
        <td>{{equipo.categoria}}</td>
        <td>{{equipo.liga}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% else %}
<h4>NO hay equipos con esa busqueda</h4>
{% endif %}
{% endblock contenido_base %}